/* Começo do css do MENU */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    height:60px;
    z-index: 9900;
    text-align: justify;
    background: linear-gradient(to right,chartreuse, rgb(205, 250, 159));
}

.menu {
    position: fixed;
    top: 0;
    height: 50px;
    background-color:white;
    width: 100%;
}

.logo {
    margin-left: 50px;
    width: 100px;
    height: 50px;
    float: left;
    background: url(img/Logo.JPG) center center/100px no-repeat;
}

.menu ul {
    margin-right: 50px;
}

.menu ul li {
    display: inline;  
    float: right;   
}

menu a {
    float: left;
}
    
.menu ul li a {
    display: block;
    color: black;
    padding: 10px 10px ; 
}

/* Fim do css do MENU */


/* COMEÇO | Podcast */

section {
    padding: 20px;
    float: left;
}   

.destaque { 
    background-color: white;
    width: 100%;
    border-left: 10%;
    border-right: 10%;
}

.destaque2 { 
    background-color: white;
    border-left: 10%;
    border-right: 10%;
}

.coluna {   
    float: center;
    padding: 10%;
    padding-top: 2%;
    position: relative;
    float: left;
    padding: 0 5%;
}

.coluna3 {   
    float: left;
    padding: 0 5%;
    position: relative;
}

.dois {
    width: 33.3%;
    height: 33%; 
}

.tres {
    width: 45%;
    padding:0 2%;
}

.doisfoto {
    width:16.6%;
    height: 33%; 
}

.doisfoto img {
    float: left;
}

.icone {
    border-radius: 5%;
    width: 200px;
    height: 200px;
}

.podcast {
    width: 33%;
    padding:0 2%;
}

.audio {
    float: right;
    margin-top: 3px;
    width: 40%;
    margin-right: 5%;
}

.audio2 {
    float: left;
    margin-top: 3px;
    width: 40%;
    margin-left: 5%;
}

.meio {
    width: 1%;
    padding:0 2%;
    color: chartreuse;
}



/* COMEÇO | Informações do Podcast */


.centertitle {
    font-size:16; 
    text-align: justify;
}

.justificado {
    text-align: justify;
    font-size:13; 
    font-family: Verdana;
}

.por {
    font-size:12; 
    text-align: justify;
}

.roteiro {
    float: right;
    font-size:14; 
    color: black;
}

.roteiro a {
    color: black;
}

.recuo { 
    text-indent:4em 
}

/* FIM | Informações do Podcast */

/* COMEÇO | Comentários */

.container {
    width: 100%;
    float: left;
    text-align: center;
    margin-right:0% ;
    margin-left: 10%;
}

.tilte {
    width: 100%;
    padding: 2%;
}

.titulo {
    width: 100%;
    float: left;
    text-align: center;
    margin-right:0% ;
    margin-left: 10%;
}

.title h1 {
    font-size: 1.5em;
    text-align: center;
}

.title h2 {
    font-size: 1em;
    color: rgb(75, 74, 74);
    text-align: center;
}

.radius {
    border-radius: 10px;
}

.form {
    display: inline-block;
    width: 100%;
    height: 10px;
    margin-right:0% ;
    margin-left: 10%;
}

.imputTexteNewsLetter {
    display: inline-block;
    width: 40%;
    padding: 0.6%;
    border: solid;
    border-color: chartreuse;
}

.imputTexteNewsLetterNome {
    display: inline-block;
    width: 20%;
    padding: 0.6%;
    border: solid;
    border-color: chartreuse;
}

.btNewsLetter {
    display: inline-block;
    width: 10%;
    padding: 0.6%;
    margin-top: 1%;
    color: black;
    font-weight: bold;
    background-color: white ;
    border: solid;
    border-color: chartreuse;
}

/* Fim | Comentários */

/* FIM | Podcast */

/* COMEÇO | Rodapé */

.bgGradiente {
  background: linear-gradient(to right,chartreuse, rgb(205, 250, 159));
}

.socialIcons {
    width: 100%;
}

.socialIcons a {
    font-size: 1.7em;
    color: black;
    margin-right: 3px;
    opacity: 0.7;
}

.socialIcons a:hover {
    opacity: 1;
}

.socialIcons a:last-child {
    margin-right: 0;
}

.direitos {
    margin-top: 10px;
    color: black;
    opacity: 0.7;
}

/* FIM | Rodapé */





