/* Começo do css do MENU */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    height:52px;
    z-index: 9900;
    text-align: justify;
    background: linear-gradient(to right,chartreuse, rgb(205, 250, 159));
}

.menu {
    position: fixed;
    top: 0;
    height: 50px;
    background-color:white;
    width: 100%;
}


.logo {
    margin-left: 50px;
    width: 100px;
    height: 65px;
    float: left;
    background: url(img/LOGO.jpg) center center/100px no-repeat;
}

.menu ul {
    margin-right: 50px;
}

.menu ul li {
    display: inline;  
    float: right;   
}

menu a {
    float: left;
}
    
.menu ul li a {
    display: block;
    color: black;
    padding: 10px 10px ; 
}

/* Fim do css do MENU */


/* COMEÇO | Podcast */

section {
    padding: 20px;
    float: left;
}   

.destaque { 
    background-color: white;
    width: 100%;
    border-left: 10%;
    border-right: 10%;
}

.destaque2 { 
    background-color: white;
    border-left: 10%;
    border-right: 10%;
}

.coluna {   
    float: center;
    padding: 10%;
    padding-top: 2%;
    position: relative;
    float: left;
    padding: 0 5%;
}

.coluna3 {   
    float: left;
    padding: 0 5%;
    position: relative;
}

.dois {
    width: 33.3%;
    height: 33%; 
}

.tres {
    width: 45%;
    padding:0 2%;
}

.doisfoto {
    width:16.6%;
    height: 33%; 
}

.doisfoto img {
    float: left;
}

.icone {
    border-radius: 5%;
    width: 200px;
    height: 200px;
}

.podcast {
    width: 33%;
    padding:0 2%;
}

.audio {
    float: right;
    margin-top: 3px;
    width: 40%;
    margin-right: 5%;
}

.audio2 {
    float: left;
    margin-top: 3px;
    width: 40%;
    margin-left: 5%;
}

.meio {
    width: 1%;
    padding:0 2%;
    color: #0cdd52;
}



/* COMEÇO | Informações do Podcast */


.centertitle {
    font-size:16; 
    text-align: justify;
}

.justificado {
    text-align: justify;
    font-size:13; 
    font-family: Verdana;
}

.por {
    font-size:12; 
    text-align: justify;
}

.roteiro {
    float: right;
    font-size:14; 
    color: black;
}

.roteiro a {
    color: black;
}

.recuo { 
    text-indent:4em 
}

/* FIM | Informações do Podcast */

/* COMEÇO | Comentários */

.container {
    width: 100%;
    float: left;
    text-align: center;
    margin-right:0% ;
    margin-left: 10%;
}

.tilte {
    width: 100%;
    padding: 2%;
}

.titulo {
    width: 100%;
    float: left;
    text-align: center;
    margin-right:0% ;
    margin-left: 10%;
}

.title h1 {
    font-size: 1.5em;
    text-align: center;
}

.title h2 {
    font-size: 1em;
    color: rgb(75, 74, 74);
    text-align: center;
}

.radius {
    border-radius: 10px;
}

.form {
    display: inline-block;
    width: 100%;
    height: 10px;
    margin-right:0% ;
    margin-left: 10%;
}

.imputTexteNewsLetter {
    display: inline-block;
    width: 40%;
    padding: 0.6%;
    border: solid;
    border-color: #0cdd52;
}

.imputTexteNewsLetterNome {
    display: inline-block;
    width: 20%;
    padding: 0.6%;
    border: solid;
    border-color: #0cdd52;
}

.btNewsLetter {
    display: inline-block;
    width: 10%;
    padding: 0.6%;
    margin-top: 1%;
    color: black;
    font-weight: bold;
    background-color: white ;
    border: solid;
    border-color: #0cdd52;
}

/* Fim | Comentários */

/* FIM | Podcast */

/* COMEÇO | Rodapé */

.bgGradiente {
    background-color: rgb(235, 235, 235);
}

.socialIcons {
    width: 100%;
    border-top: 3px;
}

.socialIcons a {
    font-size: 1.7em;
    color: black;
    margin-right: 3px;
    opacity: 0.7;
    border-top: 3px;
}

.socialIcons a:hover {
    opacity: 1;
    border-top: 3px;
}

.direitos {
    margin-top: 10px;
    color: black;
    opacity: 0.7;
}

/* FIM | Rodapé */



/* COMEÇO | Configuração para o site ser responsivo */

@media all and (max-width: 768px) {
       

    * {
        width: 100%;
        border-right: 0%;
    }

    /* INÍCIO | Foto Podcast */

    .doisfoto img {
        margin-left: 15px;
        float: left;
    }

    /* FIM | Foto Podcast */

    .audioteste {
        visibility: visible;
        display: block ;
        width: 100%;
        margin-right: 0%;
    }
    .audioteste audio {
        visibility: visible;
        display: block;
    }
    
    audio {
        display: none;
        visibility: hidden;
    }

    .centertitle2 {
        margin-top: 45%;
        font-size:16; 
        text-align: justify;
    }

    .menu ul {
        visibility: hidden;
    }

    .logo {
        margin-left: 120px;  
    }
    
    .d-block {
        visibility: hidden;
    }
    
    #imagem_fundo {
        background: url(Capturar.JPG);
        text-align: center;
        background-size: cover;
        height: 50%;
        width: 100%;
    }

    #titulo {
        color: black;
        padding-top: 10%;
        font-size: 10px ;  
    }

    .destaque { 
        border-top: 10%;
    }
    
    .coluna, .dois, .tres, .quatro {
        display: block;   
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
    }
    
    .destaque, .form, .btNewsLetter {
        display: block;   
        width: 80%;
        padding: 0;
        margin: 40px ;
        float: none;
    }
    
    .btNewsLetter {
        display: block;   
        width: 80%;
        padding: 0;
        margin: 24px ;
        float: none;
    }
    
    .audio, .destaque, .audio2 {
        display: block;  
    }
    
    .title, .titulo {
        margin-left: 5px;
    }
    
    .imputTexteNewsLetter, .imputTexteNewsLetterNome {
        display: block;   
        width: 80%;
        padding: 0;
        margin: -2px ;
        float: none;
    }
    
    .doisfoto img {
        float: none;
        text-align: center;
    }
    
    .teste {
        visibility: visible;
    }
}

/* FIM | Configuração para o site ser responsivo */






